/* ============================ UNIVERSAL STYLE ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.wrapper {
    position: relative;
    height: 200vh;
    width: 100%;
}

.container {
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.hero,
.about,
.history,
.collections {
    position: relative;
    margin: 0 0 8em 0;
}

.about__content,
.history__content {
    display: flex;
    flex-direction: row;
    gap: 0 4em;
}

.about__content__1,
.about__content__2,
.history__content__1,
.history__content__2 {
    width: 50%;
}


/* ============================ TEXT FORMATTING ============================ */
h1 {
    color: #FFFFFF;
    font-size: 4em;
    font-weight: 700;
}

h2 {
    color: #000000;
    font-size: 3.2em;
    font-weight: 500;
    margin: 0 0 1em 0;
}

h5 {
    color: #DDDDDD;
    font-size: 1em;
    font-weight: 400;
}

p {
    font-size: 1.4em;
    margin: 0 0 1em 0;
    text-align: justify;
}

/* ============================ END OF TEXT FORMATTING ============================ */


/* ============================ HERO SECTION ============================ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 6.25rem;
    z-index: 9999;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.logo {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

.logo span {
    color: #FF7938;
}

.menu__toggle {
    display: none;
}

.navbar {
    position: relative;
    display: flex;
}

.nav__list {
    margin-left: 2.25rem;
}

.nav__list a {
    color: #fff;
    font-weight: 400;
    font-size: .765rem;
}

.nav__list a:hover {
    color: #FF7938;
}

.scroll-header {
    background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .9));
    padding: .625rem 6.25rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ============================ END OF HERO SECTION ============================ */


/* ============================ HERO SECTION ============================ */
.hero {
    position: relative;
    height: 100vh;
}

.hero__content {
    height: 100vh;
}

.banner__hero {
    background: linear-gradient(to left, rgba(47, 0, 255, 0.257), rgba(0, 0, 0, 0.536)), url('../img/wisata/penglipuran2.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.hero__sub__content {
    margin: 0 0 8em 0;
}

/* ============================ END OF HERO SECTION ============================ */


/* ============================ ABOUT SECTION ============================ */
.img__about {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: left;
}

/* ============================ END OF ABOUT SECTION ============================ */


/* ============================ HISTORY SECTION ============================ */
.img__history {
    width: 100%;
    height: 75vh;
    padding: 20px;
    object-fit: cover;
}

/* ============================ END OF HISTORY SECTION ============================ */


/* ============================ COLLECTION SECTION ============================ */
.header__collections h2 {
    text-align: center;
}

.body__collections {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 5px;
    grid-auto-flow: dense;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vertical {
    grid-row: auto / span 2;
    grid-column: auto;
}

@media (min-width: 600px) {
    .body__collections {
        grid-template-columns: repeat(2, 1fr);
    }

    .vertical {
        grid-row: auto / span 1;
        grid-column: auto;
    }
}

@media (min-width: 900px) {
    .body__collections {
        grid-template-columns: repeat(3, 1fr);
    }

    .vertical {
        grid-row: auto / span 2;
        grid-column: auto;
    }
}

/* ============================ END OF COLLECTION SECTION ============================ */


/* ============================ FOOTER SECTION ============================ */
/* ============================ END OF FOOTER SECTION ============================ */


/* ================ BREAKPOINT =============== */

@media screen and (max-width: 991px) {

    /* =========== HEADER =========== */
    .header,
    .scroll-header {
        padding: .625rem 1.25rem;
    }

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        transform: translateX(100%);
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .wrap.show-menu {
        transform: translateX(0);
        transition: .5s;
    }

    .nav__list {
        font-size: 1.6rem;
        margin: .625rem;
    }

    .nav__list a {
        font-size: 1.25rem;
        color: #000;
    }

    .menu__toggle {
        display: inline-block;
        position: relative;
        font-size: 35px;
        cursor: pointer;
        color: #fff;
    }

    .menu__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #000;
    }

    .banner__hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__content,
    .history__content {
        display: flex;
        flex-direction: column;
        gap: 0 4em;
    }

    .about__content__1,
    .about__content__2,
    .history__content__1,
    .history__content__2 {
        width: 100%;
    }

    .img__about {
        order: 2;
    }

    .about__content h2 {
        font-size: 2.2em;
    }
}